body {
	color:$link;
	background-color: $background;
	font-family: $stack-raleway;
}

.name {
	font-family: $stack-pacifico;
	font-size: $nameFontSize;

	@include tablet{
		background-color: inherit;
		}

	@include desktop{
		float: left;
	}
}