.mainHeader, .profile, .mainFooter {
	padding: 1em;

}

.mainHeader, .portfolio .container{
	@extend %topPadding;
	@extend %clearfix;
}

.mainFooter .container {
	padding:20px 0 20px 0;
	@extend %clearfix;
}

.profile {
	
	@include tablet {	
		text-align: left;		
		line-height: 25px;

		& img {

			float:right;
			padding-left:1em;
		}
	}	

	
}

.profile .container {

	@include desktop {
		text-align:left;
	}
	
}

.portfolio {
	@extend %topPadding;

	@include desktop {
		padding: 0 1em;
	}
}

.portfolio .container {
	background-color: $white;

}


footer .container {
	border-top: solid 1px #e7e7e7;
	@extend %clearfix;
}

.wrap {
	min-height: calc(100vh - 92px);

}

.container {
	
	margin: 0 auto;
	padding: 1em;
	@extend %clearfix;

	@include desktop {
    		
		width: 90%;

  	}
	
}