.name,h4 {
	margin: 0;
	padding: 0;
}

.mainNav,
.gallery, 
.skillList{

	list-style: none;
	padding: 0;

}

.skillList li{
	display: inline-block;
	margin: 10px;
}


.mainNav li {
	text-align: center;
	background: $white;
	margin: 6px 0;

	@include tablet {
    		
		display: inline-block;
		background-color: inherit;

  	}
	
}



.name a,
.mainNav a {
	display: block;
} 



.mainNav a {
	padding: 10px 0 10px 15px;
}




h4 {
	float:left;
}

.topAnchor {
	float: right;

	@include tablet {
		visibility: collapse;
	}	
}


.mainHeader,
.profile,
.portfolio,
.contact,
.skills {
		@extend %centered;

}

.footerNav {
	display: none;
}


.gallery {

	@include tablet {

		 li {
				 float: left;
				width: 45%;
				margin: 2.5%;

				&:nth-child(2n+1) {
					clear: left;
				}

		}
	}


	@include desktop {
		& li {
			width: 28%;

			&:nth-child(2n+1){
				clear:right;
			}
		}
	}


}