
.mainNav a,
.footerNav a,
.topAnchor a,
.footerName a{
	
	&:link {
		text-decoration: none;
		color:#4a4a4a;
		font-weight: bold;
	}

	&:visited {
		text-decoration: none;
		color:#4a4a4a;
		font-weight: bold;
	}
	&:hover {
		text-decoration: none;
		color:#f78460;
		font-weight: bold;
	}
} 


.name a, .gallery a {
	text-decoration: none;
}


 h2, .mainNav, .footerNav {
	text-transform: uppercase;
}