
.mainNav a,
.footerNav a,
.topAnchor a,
.footerName a {
	
	a:link {
		text-decoration: none;
		color:#4a4a4a;
		font-weight: bold;
	}

		.mainNav a:hover,
	.footerNav a:hover,
	.footerName a:hover,
	.topAnchor a:hover
	 {
		color:#f78460;
		
	}
}





.name a, .gallery a {
	text-decoration: none;
}


 h2, .mainNav, .footerNav {
	text-transform: uppercase;
}