.mainNav {
	
	@include desktop {
		float: right;
	}

}


.footerNav {
	@include tablet {
		display: inline;
		float: right;
		margin: 0px;
		padding: 0px;
	}
}

.footerName,.footerNav li{
	@include tablet {
		display: inline-block;
		padding-left:10px;
	}		
}

.mainNav a,
.footerNav a,
.topAnchor a,
.footerName a{
	
	&:link {
		@include link;
	}

	&:visited {
		@include link;
	}
	&:hover {
		text-decoration: none;
		color:$hoverLink;
		font-weight: bold;
	}
} 


.name a, .gallery a {
	text-decoration: none;
}


 h2, .mainNav, .footerNav {
	text-transform: uppercase;
}