* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  color: #4A4A4A; }

.mainHeader, .profile, .mainFooter {
  padding: 1em; }

.mainFooter .container {
  padding: 20px 0 20px 0; }

@media screen and (min-width: 768px) {
  .profile {
    text-align: left;
    line-height: 25px; }
    .profile img {
      float: right;
      padding-left: 1em; } }

@media screen and (min-width: 1024px) {
  .profile .container {
    text-align: left; } }

@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 0 1em; } }

.portfolio .container {
  background-color: #fff; }

footer .container {
  border-top: solid 1px #e7e7e7; }

.wrap {
  min-height: calc(100vh - 92px); }

.container {
  margin: 0 auto;
  padding: 1em; }
  @media screen and (min-width: 1024px) {
    .container {
      width: 90%; } }

.name, h4 {
  margin: 0;
  padding: 0; }

.mainNav,
.gallery,
.skillList {
  list-style: none;
  padding: 0; }

.skillList li {
  display: inline-block;
  margin: 10px; }

.mainNav li {
  text-align: center;
  background: #fff;
  margin: 6px 0; }
  @media screen and (min-width: 768px) {
    .mainNav li {
      display: inline-block;
      background-color: inherit; } }

.name a,
.mainNav a {
  display: block; }

.mainNav a {
  padding: 10px 0 10px 15px; }

h4 {
  float: left; }

.topAnchor {
  float: right; }
  @media screen and (min-width: 768px) {
    .topAnchor {
      visibility: collapse; } }

.footerNav {
  display: none; }

@media screen and (min-width: 768px) {
  .gallery li {
    float: left;
    width: 45%;
    margin: 2.5%; }
    .gallery li:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 1024px) {
  .gallery li {
    width: 28%; }
    .gallery li:nth-child(2n+1) {
      clear: right; } }

@media screen and (min-width: 1024px) {
  .mainNav {
    float: right; } }

@media screen and (min-width: 768px) {
  .footerNav {
    display: inline;
    float: right;
    margin: 0px;
    padding: 0px; } }

@media screen and (min-width: 768px) {
  .footerName, .footerNav li {
    display: inline-block;
    padding-left: 10px; } }

.mainNav a:link,
.footerNav a:link,
.topAnchor a:link,
.footerName a:link {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: bold; }
.mainNav a:visited,
.footerNav a:visited,
.topAnchor a:visited,
.footerName a:visited {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: bold; }
.mainNav a:hover,
.footerNav a:hover,
.topAnchor a:hover,
.footerName a:hover {
  text-decoration: none;
  color: #f78460;
  font-weight: bold; }

.name a, .gallery a {
  text-decoration: none; }

h2, .mainNav, .footerNav {
  text-transform: uppercase; }

.mainHeader,
.profile,
.portfolio,
.contact,
.skills {
  text-align: center; }

.mainHeader, .portfolio .container, .portfolio {
  padding-top: 10px; }

.mainHeader::after, .portfolio .container::after, .mainFooter .container::after, .container::after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #4A4A4A;
  background-color: #DDD1E7;
  font-family: "Raleway", sans-serif; }

.name {
  font-family: "Pacifico", sans-serif;
  font-size: 4em; }
  @media screen and (min-width: 768px) {
    .name {
      background-color: inherit; } }
  @media screen and (min-width: 1024px) {
    .name {
      float: left; } }

/*# sourceMappingURL=application.css.map */
